
<div class="app-header header-shadow">
	<div class="app-header__logo">
        <a href="{% url 'landing:landing' %}" style="background: none; height: 40px; width: 150px;" class="logo-src mb-2 mr-2 btn-icon btn-icon-only btn-shadow btn-dashed btn btn-outline-info">
        	<i class="pe-7s-science btn-icon-wrapper"> 13 MAKTAB </i>
        </a>
	    <div class="header__pane ml-auto">
			<button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
	        	<span class="hamburger-box">
	            	<span class="hamburger-inner"></span>
				</span>
	        </button>
	    </div>
	</div>
	<!-- header menu -->
	<div class="app-header__content">
		<div class="app-header-left">
	    	<div class="search-wrapper">
	        	<div class="input-holder">
	            	<input type="text" class="search-input" placeholder="Qidirish">
	            	<button class="search-icon"><span></span></button>
	            </div>
	        	<button class="close"></button>
	        </div>
		</div>
		<div class="app-header-right">
	        <!-- Tilni tanlash -->
	    	<!-- <div class="header-dots">
	            <div class="dropdown">
	            	<button type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
	                	<span class="icon-wrapper icon-wrapper-alt rounded-circle">
	                    	<span class="icon-wrapper-bg bg-focus"></span>
	                        <span class="language-icon opacity-8 flag large uz"></span>
	                    </span>
	            	</button>
					<div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu dropdown-menu-right">
	                	<div class="dropdown-menu-header">
	                    	<div class="dropdown-menu-header-inner pt-4 pb-4 bg-focus">
	                        	<div class="menu-header-image opacity-70" style="background-image: url('assets/images/dropdown-header/city3.jpg');"></div>
	                            <div class="menu-header-content text-center text-white">
	                            	<h6 class="menu-header-subtitle mt-0"> Tilni o'zgartirish </h6>
			                    </div>
	                        </div>
						</div>
	                    <h6 tabindex="-1" class="dropdown-header"> Joriy til </h6>
				        <button type="button" tabindex="0" class="dropdown-item">
		                    <span class="mr-3 opacity-8 flag large UZ"></span> UZ
                        </button>
	                    <h6 tabindex="-1" class="dropdown-header"> Boshqa til </h6>
	                    <a href="#">
		                    <button type="button" tabindex="0" class="dropdown-item">
		                    	<span class="mr-3 opacity-8 flag large RU"></span> RU
		                	</button>
	                    </a>
	                </div>
	            </div>
	        </div> -->
	        <!-- end tilni tanlash -->
	        <!-- Login -->
	        <div class="header-btn-lg pr-0">
	        	<div class="widget-content p-0">
	            	<div class="widget-content-wrapper">
	                	<div class="widget-content-left">
	                    	<div class="btn-group">
	                        	<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
	                            	<img width="42" class="rounded-circle" src="{% static 'assets/images/avatars/nophoto.png' %}" alt="nophoto.png">
	                                <i class="fa fa-angle-down ml-2 opacity-8"></i>
	                        	</a>
	                            <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
	                            	<div class="dropdown-menu-header">
	                                	<div class="dropdown-menu-header-inner bg-info">
	                                    	<div class="menu-header-image opacity-2" style="background-image: url({% static 'assets/images/dropdown-header/city3.jpg' %});"></div>
	                                        <div class="menu-header-content text-left">
	                                            <div class="widget-content p-0">
	                                                <div class="widget-content-wrapper">
	                                                   	<div class="widget-content-left mr-3">
	                                                        <img width="42" class="rounded-circle" src="{% static 'assets/images/avatars/nophoto.png' %}" alt="">
	                                                    </div>
	                                            		<div class="widget-content-left">
	                                                       	<div class="widget-heading">
	                                                       		fio
	                                                       	</div>
	                                                        <div class="widget-subheading opacity-8">
	                                                            13-maktabning 7-sinf o'quvchisi
	                                                        </div>
	                                                    </div>
	                                                    <div class="widget-content-right mr-2">
	                                                        <a href="{% url logout %}" class="btn-pill btn-shadow btn-shine btn btn-focus"> Chiqish </a>
	                                                    </div>
	                                                </div>
	                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end login -->
        </div>
	</div>
	<!-- end header menu -->
</div>