{% load static %}
<div class="app-sidebar sidebar-shadow">
	<!-- Menu -->
	<div class="scrollbar-sidebar">
		<div class="app-sidebar__inner">
			<ul class="vertical-nav-menu">
				<li class="app-sidebar__heading">Menu</li>
				<li>
					<a href="#">
						<i class="metismenu-icon pe-7s-rocket"></i>Testni boshlash
						<i class="metismenu-state-icon pe-7s-angle-right caret-left"></i>
					</a>
	            </li>
	            <li>
	               	<a href="#">
		                <i class="metismenu-icon pe-7s-browser"></i>Reyting
		                <i class="metismenu-state-icon pe-7s-angle-right caret-left"></i>
		            </a>
	            </li>
	            <li>
	                <a href="#">
	               		<i class="metismenu-icon pe-7s-plugin"></i> Shaxsiy kabinet
	                   	<i class="metismenu-state-icon pe-7s-angle-right caret-left"></i>
	               	</a>
	           	</li>
	            <li class="">
                    <a href="#" aria-expanded="false">
                        <i class="metismenu-icon lnr-screen"></i>
                        	Test qo'shish
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul class="mm-collapse" style="height: 7.04px;">
                        <li>
                            <a href="test_plus.php">
                                <i class="metismenu-icon"></i>
                                Fayldan yuklash
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>    
                        </li>
                        <li>
                            <a href="add_test.php">
                                <i class="metismenu-icon"></i>
                                Formula kiritish
                            </a>
                        </li>
                    </ul>
                </li>
	            <li>
	              	<a href="#">
	               		<i class="metismenu-icon lnr-users "></i> Foydalanuvchi qo'shish
	                   	<i class="metismenu-state-icon pe-7s-angle-right caret-left"></i>
	               	</a>
	            </li>
	        </ul>
	    </div>
	</div>
	<!-- end menu -->
</div>